%h1 Listing patients

%table
  %tr
    %th Firstname
    %th Lastname
    %th Birthdate
    %th Address
    %th Medicalrecordnumber
    %th Phone
    %th Medication
    %th Diet
    %th Condition
    %th
    %th
    %th

  - @patients.each do |patient|
    %tr
      %td= patient.firstname
      %td= patient.lastname
      %td= patient.birthdate
      %td= patient.address
      %td= patient.medicalrecordnumber
      %td= patient.phone
      %td= patient.medication
      %td= patient.diet
      %td= patient.condition
      %td= link_to 'Show', patient
      %td= link_to 'Edit', edit_patient_path(patient)
      %td= link_to 'Destroy', patient, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Patient', new_patient_path
