%p#notice= notice

%p
  %b Firstname:
  = @patient.firstname
%p
  %b Lastname:
  = @patient.lastname
%p
  %b Birthdate:
  = @patient.birthdate
%p
  %b Address:
  = @patient.address
%p
  %b Medicalrecordnumber:
  = @patient.medicalrecordnumber
%p
  %b Phone:
  = @patient.phone
%p
  %b Medication:
  - @patient.medications.each do |x|
    %br
    =link_to "#{x.name}", x
    
%p
  %b Diet:
  - @patient.diets.each do |x|
    %br
    ="#{x.name}"
    
%p
  %b Condition:
  - @patient.conditions.each do |x|
    %br
    ="#{x.name}"
    

= link_to 'Edit', edit_patient_path(@patient)
\|
= link_to 'Back', patients_path
