<h1>Listing diets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Restrictions</th>
      <th>Guidelines</th>
      <th>Recomendations</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @diets.each do |diet| %>
      <tr>
        <td><%= diet.name %></td>
        <td><%= diet.restrictions %></td>
        <td><%= diet.guidelines %></td>
        <td><%= diet.recomendations %></td>
        <td><%= link_to 'Show', diet %></td>
        <td><%= link_to 'Edit', edit_diet_path(diet) %></td>
        <td><%= link_to 'Destroy', diet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diet', new_diet_path %>
