<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @diet.name %>
</p>

<p>
  <strong>Restrictions:</strong>
  <%= @diet.restrictions %>
</p>

<p>
  <strong>Guidelines:</strong>
  <%= @diet.guidelines %>
</p>

<p>
  <strong>Recomendations:</strong>
  <%= @diet.recomendations %>
</p>

<%= link_to 'Edit', edit_diet_path(@diet) %> |
<%= link_to 'Back', diets_path %>
