<!DOCTYPE html>
<html>
<head>
  <title>TeleNYP</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	
	<!-- This loads the YouTube IFrame Player API code -->
	<script src="http://www.youtube.com/player_api"></script>

	<!-- THESE ARE ALERTS FROM THE DEVISE GEM-->
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
